<!DOCTYPE html>

<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="" />
</head>

<body>
  <header>
    <%= render "layouts/header" %>
  </header>

  <section>
    <div class="about-us-grid">
      <div id="about-us-top-pic">
        <div id="about-us-top-pic-overlay">
          <div id="about-us-header-text">
            <h1>ABOUT US</h1>
          </div>

          <div>

          </div>
        </div>
      </div>

      <div id="about-us-our-mission">
        <div class="has-text-centered">
          <h1>Our Mission</h1>
        </div>
        <div class="has-text-centered">
          <h2>Our purpose at Runnerfy is create an all-inclusive environment for fellow runners to share their love for
            the sport and participate, train, and succeed with one another.</h2>
        </div>
      </div>

      <div id="about-us-our-people">

        <section id="about-us-our-people-header">
          <h1>Our People</h1>
        </section>
        <div>
          <img src="http://lorempixel.com/200/200" alt="">
        </div>
        <div>
          <img src="http://lorempixel.com/200/200" alt="">
        </div>
        <div>
          <img src="http://lorempixel.com/200/200" alt="">
        </div>

      </div>
    </div>
  </section>
  <footer> <%= render "layouts/footer" %></footer>
</body>

</html>