<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <footer>
        <nav class="footer">
            <div class="sub-title">
                <%= link_to(image_tag("Runnerfy_logo_app.png", :alt => "runnerfy_logo", id: "img1"), root_path) %>
            </div>
            <div>
                <h4>Copyright &#169; 2019</h4>
            </div>
        </nav>

    </footer>

</body>

</html>